@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  font-family: 'VT323', system-ui;
  background: radial-gradient(
    circle,
    #ff7675 0%,
    #fab1a0 10%,
    #ffeaa7 40%,
    #81ecec 70%,
    #74b9ff 90%
  );
}

button {
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow:
    0 4px 16px 0 rgba(0, 0, 0, 0.1),
    0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

button:hover {
  filter: brightness(0.9);
  box-shadow:
    0 4px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

button:active:hover {
  filter: brightness(0.8);
  transform: perspective(500px) rotateX(20deg) scale(0.9);
}
